<html lang="en" ng-app="app">
  <head>
    <title>Weather Web App Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">

  </head>
  <body>
    
    <div class="container" ng-controller="CityController">
      <h1>Weather Web App</h1>
      <div class="row">
        <div class="col-lg-6"> 
          <div class="input-group"> 
            <input type="text" class="form-control" placeholder="City Name ..." name="name" ng-model="newCity.name">
            <input type="hidden" ng-model="newCity.id">
            <span class="input-group-btn"> 
              <button class="btn btn-default" type="button" value="Save" ng-click="saveCity()">Save!</button> 
            </span> 
          </div>
        </div>
      </div>
    
      <div class="list-group">
        <h4>Order by: </h4><a href='#' ng-click='orderBy(0)'>City name</a> | <a href='#' ng-click='orderBy(1)'>Weather</a> | <a href='#' ng-click='orderBy(2)'>Temperature</a> | <a href='#' ng-click='orderBy(3)'>Wind Speed</a>
          <div class="list-group-item" ng-repeat="city in cities | orderBy:orderProp">
              <h4 class="list-group-item-heading">{{ city.name }}</h4>
            <p class="list-group-item-text"><b>Weather: </b>{{ city.weatherDesc }} | <b>Temperature: </b> {{ city.temperature }} C | <b>Wind Speed: </b>{{ city.windSpeed }} mps | <a href="#" ng-click="delete(city.id)">delete</a></p>
          </div>
      </div>
    </div>

    <script src="scripts/vendor/angular.min.js"></script>
    <script src="scripts/vendor/jquery.min.js"></script>
    <script src="scripts/vendor/bootstrap.min.js"></script>
    <script src="scripts/app.js"></script>
  
  </body>
</html>