<html lang="en" ng-app="app">
  <head>
    <title>Weather Web App Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/vendor/bootstrap.min.css">
    <script src="scripts/vendor/jquery.min.js"></script>
    <script src="scripts/vendor/bootstrap.min.js"></script>

  </head>
  <body>
    
    <div class="container" ng-controller="CityController">
      <div class="row"><!-- /.col-lg-6 --> 
        <div class="col-lg-6"> 
          <div class="input-group"> 
            <input type="text" class="form-control" placeholder="City Name ..." name="name" ng-model="newCity.name">
            <input type="hidden" ng-model="newCity.id">
            <span class="input-group-btn"> 
              <button class="btn btn-default" type="button" value="Save" ng-click="saveCity()">Save!</button> 
            </span> 
          </div><!-- /input-group --> 
        </div><!-- /.col-lg-6 --> 
      </div><!-- /.row -->
    
      <div class="list-group">
          <div class="list-group-item" ng-repeat="city in cities | orderBy:'-id'">
              <h4 class="list-group-item-heading">{{ city.name }}</h4>
            <p class="list-group-item-text"><b>Weather: </b>{{ city.weather.weather[0].description }} | <b>Wind Speed: </b>{{ city.weather.wind.speed }} | <a href="#" ng-click="delete(city.id)">delete</a></p>
          </div>
      </div>
    </div>

    <script src="scripts/vendor/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  
  </body>
</html>