<html lang="en" ng-app="app">
  <head>
    <title>Weather Web App Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/vendor/bootstrap.min.css">
    <script src="scripts/vendor/jquery.min.js"></script>
    <script src="scripts/vendor/bootstrap.min.js"></script>

  </head>
  <body>
    
    <div class="container" ng-controller="CityController">
        <form>
        <label>Name</label> 
            <input type="text" name="name" ng-model="newCity.name">
            <br>
            <input type="hidden" ng-model="newCity.id">
         <input type="button" value="Save" ng-click="saveCity()">
        </form>
    <table>
    <thead> 
    <tr>
        <th>Name</th>
        <th>Weather</th>
        <th>Wind speed</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="city in cities | orderBy:'-id'">
        <td>{{ city.name }}</td>
        <td>{{ city.weather.weather[0].description }}</td>
        <td>{{ city.weather.wind.speed }}</td>
        <td>
            <a href="#" ng-click="delete(city.id)">delete</a>
        </td>
     </tr>
    </tbody>
    </table>    
    </div>
<!--
    <div class="container" ng-controller="CitiesController">
      <form novalidate class="simple-form">
        City Name: <input type="text" ng-model="field.city" /><br />
        <input type="submit" ng-click="saveCity()" value="Save" />
      </form>
    
      <ul class="">
        <li class="" ng-repeat="weatherItem in weatherList">
            <h3><strong>{{weatherItem.name}}</strong></h3>
            <p>Wind speed: {{weatherItem.wind.speed}} |
            Description: {{weatherItem.weather[0].description}} |
            <b><a href="#" ng-click="edit(weatherItem.name)">Edit</a> |</b>
            <b><a href="#" ng-click="delete(weatherItem.name)">Delete</a></b></p>
        </li>
      </ul>
    </div>
-->

    <script src="scripts/vendor/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  
  </body>
</html>